.login {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	color: #35383a;
    margin-top: 150px;
}
.login h2 {
    text-align: center;
    padding-top: 15px;
}
.box {
	background-color: white;
	border-radius: 5px;
	border: solid #1fa597 2px;
	color: ;
	margin-top:100px;
	opacity: 0.63;
}
.box h2 {
	padding-left: 15px;
	
	padding-top: 10px;
    text-align: center;
}
.box p {
	color: white;
}

.mini-box{
	
	padding-top: 120px;

}
.lolo{
    width: 30%;
}
body {
    background: url(../css/img/desert.jpg) repeat center ;
}
.box:hover {
	opacity: 1;
	background: url(../css/img/route.jpg) center;
	

}
.profile {
	background-color: white;
	border-radius: 5px;
	border: solid #1fa597 2px;
	color: ;
	margin-top:100px;
	font-size: 20px;
	
}



@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
    font-family: 'Lato', 'sans-serif';
    }
.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
