body{
	background-color: #f1f1f1;
}

.navbar{
	margin-bottom: 0;
}

.container{
	height: 200px;
	position: absolute;
	z-index: 2;
	right: 0;
	top:0;
	padding:0;
}

#compt{
	font-size:20px;
	margin-top: 10px;
}

#map{
	height: 200px;
}

#pano{
	height: 92vh;
}

#pano text{
	display: none;
}

#send{
	z-index: 2;
	font-weight: bold;
	width: 85%;
	margin-left:15%; 
	margin-top:10px;
}

#propose{
	height: 70vh;
	margin-top: 10px;
}

.map_name{
	width: 80%;
	margin-left:10%; 
	margin-top:10px;
}

#send_propose{
	width: 80%;
	margin-left:10%; 
	margin-top:10px;
}

.alert{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
}

#mapResult{
	height: 75vh;
	border: solid 1px #919191;
}

.result{
	text-align: center;
	font-weight: bold;
	background-color: #f1f1f1;
}

.badge{
	width: 50px;
	margin-left: 3px;
}