{% extends "GeoGuesserBundle::layout.html.twig" %}
{% block body %}
<div class="col-md-12">
	vous avez un compte ?
	<a class="btn btn-default">Ce connecter</a>
	<div class="col-md-12" id="pano"></div>
    <div class="col-md-4" id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          scrollwheel: false,
          zoom: 8
        });
        var fenway = {lat: 42.345573, lng: -71.098326};
        var panorama = new google.maps.StreetViewPanorama(
     	document.getElementById('pano'), {
        position: fenway,
        pov: {
          heading: 34,
          pitch: 10
        }
      });

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPa-lInPBnwmvKmSIcO2949-KWzmULmD4&callback=initMap"
    async defer></script>

{% endblock body %}

