{% extends "GeoGuesserBundle::layout.html.twig" %}
{% block body %}
<header>
	<h1>GeoGuesser</h1>
</header>
<div>
	vous avez un compte ?
	<a class="btn btn-default">Ce connecter</a>
</div>
{% endblock body %}