{% extends "GeoGuesserBundle::layout.html.twig" %}
{% block body %}
<div class="col-md-offset-4 col-md-4 profile">
<p> Pseudo :{{user.username}} </p>

<p> Email : {{user.email}} </p>

<p> Point total : 17779 </p>
</div>

{% endblock body %}